<!DOCTYPE html>
<html>

<head>
    <title>evoke</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <!-- Open Iconic -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <!-- D3 and D3Pie -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/d3pie/d3pie.js"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="static/custom-icons.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/evoke.ico"/>
</head>

<body onLoad="app.run()">
    <div id="app-container">
<!--        <nav class="navigation-main navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="./"><img src="static/img/evoke.svg" width="45" alt="evoke"></a></nav>-->
        <div class="container">
            <div class="row">
                <div class="column" style="margin: auto; margin-top: 38%; text-align: center;">
                    <a href="./">
                    <img class="loading" src="static/img/evoke.svg" width="100" alt="evoke">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"><img src="static/img/evoke.svg" width="45" alt="evoke" style="vertical-align: baseline;"/><!-- © Sander Stolk--></span>
            <span style="position: absolute; right: 20px;">
                <a href="https://twitter.com/ssstolk"><img src="static/img/ext/twitter.svg" height="28" /></a>
                <a href="https://github.com/ssstolk/evoke"><img src="static/img/ext/github.png" height="16" style="margin:5px;" /></a>
                <a href="https://www.universiteitleiden.nl/en/staffmembers/sander-stolk"><img src="static/img/ext/personal.svg" height="16" style="margin:5px;" /></a>
            </span>
        </div>
    </footer>
</body>
</html>